@font-face {
font-family: "Bebas";
src: url('../font/bebas___-webfont.ttf');
font-weight:normal;
font-weight:normal;
}

@font-face {
font-family: "Heveltica";
src: url('../font/HevelticaNeue.ttf');
font-weight:normal;
font-weight:normal;
}